    h1 {
      text-align: center;
      
      background-size: cover;
      color: teal;
      font-size: 70px;
    }
    p {
      color:purple;
      font-family: Times New Roman;
      font-size: 20px;
    }
    
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
      width: 500;
      height:400;
    }
    body {
      background-color:#00FA9A;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      
      li {
        padding: 5px;
        display: block;
      }
    }
